@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base colors */
    --primary: 250 82% 45%;
    --primary-light: 250 82% 55%;
    --primary-dark: 250 82% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 224 82% 45%;
    --secondary-light: 224 82% 55%;
    --secondary-dark: 224 82% 35%;
    --secondary-foreground: 0 0% 100%;

    --slate: 215 16% 47%;
    --slate-light: 217 33% 97%;
    --slate-dark: 215 25% 27%;
    
    --background: 0 0% 100%;
    --background-card: 0 0% 100%;
    --background-subtle: 210 40% 98%;
    --background-muted: 210 40% 96%;

    --border: 214 32% 91%;
    --border-focus: 226 100% 71%;
    --border-hover: 215 20% 84%;
  }

  /* Dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Add dark mode variables here */
    }
  }
}
