@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --primary-light: 217.2 91.2% 59.8%;
    --primary-dark: 222.2 47.4% 11.2%;
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --secondary-light: 214.3 31.8% 91.4%;
    --secondary-dark: 222.2 47.4% 11.2%;
    
    --slate: 215 20.2% 65.1%;
    --slate-foreground: 222.2 47.4% 11.2%;
    --slate-light: 210 40% 98%;
    --slate-dark: 215.4 16.3% 46.9%;
  }
}
